.byline {
    font-weight: bold;
    text-decoration: none;
}

.update {
    font-style: italic;
}

.number {
    font-weight: bold;
}

.linksContainer {
    margin-bottom : 1rem;
}

.note {
    font-size: 0.8em;
    font-style: italic;
}