.searchLabel {
    /* font-weight: bold; */
    font-size: 0.8em;
}

.searchMessage {
    font-style: italic;
    font-size: 0.8em;
}

.lawmakerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chambers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chamberHeader {
    text-align: center;
}
    
.chamber {
    flex: 1 1 20rem;
    margin: 0 1rem;
    justify-content: center;
}

.lawmaker {
    border: 1px solid #ddd;
    border-left: 5px solid #444;
    background-color: #eee;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;

    flex: 1 1 8rem;

    text-decoration: none;
    color: #222;

}
.lawmaker:hover {
    text-decoration: none;
    background-color: #222;
    color: white;
}

.district {
    font-size: 0.8em;
}

.name {
    font-size: 1.2em;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-weight: bold;
    color: var(--mtfp-action-color);
}
.lawmaker:hover .name {
    color: white;
}

.locale {
    font-style: italic;
}
.data {
    font-weight: bold;
}

.sourcing {
    margin-top: 0.5rem;
}