:root {
    --mtfp-action-color: #2800d7
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
}

a {
    color: var(--mtfp-action-color);
    text-decoration: none;
}
a:hover {
    /* color: red; */
    text-decoration: underline;
}

:global(.image){
    /* image container div */
    width: 100%;
    height: 200px;
    background-color: #444;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 2em;
    position: relative;
}

:global(.image-credit){
    text-align: right;
    font-style: italic;
    color: #fff;
    font-size: 0.8em;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.2rem;
    background-color: rgba(0.2,0.2,0.2,0.5);
}

:global(.image) img {
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1, h2, h3, h4 {
    font-family: proxima-nova, sans-serif;
    font-weight: 800;
    font-style: normal;
}
h1, h2 {
    /* margin-bottom: 0; */
}

hr {
    border-top: 1px solid #666;
    border-bottom: none;
}

:global(.article){
    font-family: Merriweather,Georgia,serif;
    font-size: 18px;
    line-height: 1.5em;
    max-width: 40em;
    color: #484848;
    margin: 0 auto;
}
:global(.article) a {
    color:  #484848;
    text-decoration: underline;
}

:global(.article) a:hover {
    color: var(--mtfp-action-color);
}

input {
    /* background-color: red; */
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #666;
    box-shadow: none;
    /* border-radius: .25rem; */
}

button {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    border: none;
    background-color: #eee;
    border: 1px solid #666;
    text-transform: uppercase;
    color: #222;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
    /* margin-right: 0.2rem; */
    /* border-radius: 0.25rem; */
}

button:hover {
    background-color: #222;
    border: 1px solid #222;
    color: white;
}
