.App {
  /* text-align: center; */
  max-width: 826px;
  margin: auto;
  padding-top: 0.5rem;
}

.App-header {
  background-color: #ddb;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #222;
}