.billProcessViz {
    /* border: 1px solid #eee; */
    margin-top: 1rem;
}

.billCount {
    font-style: italic;
    font-size: 0.8em;
}

.header {
    /* background-color: #666; */
    /* font-weight: bold; */
    margin-bottom: 0.5rem;
    font-style: italic;
    /* color: white; */
}

.rowsContainer {
    /* color: green; */
}

.row {
    /* background-color: #eee; */
    border-top: 1px solid #eee;
    /* margin-bottom: 0.2rem; */
    min-height: 1.2rem;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    
}

.row .idCol {
    font-weight: bold;
}

.statusCol {
    flex: 0 0 9rem;
    font-size: 0.8rem;
}
.idCol {
    padding: 0 0.2rem;
    flex: 0 0 auto;
}
.titleCol {
    font-style: italic;
    font-size: 0.9rem;
    padding: 0 0.2rem
}
.actionsCol {
    flex: 1 0 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 0.2rem;
}

