.buttonBar {
    display: flex;
    flex-wrap: wrap;
}

.button {
    flex: 1 1 5rem;
    display: inline-block;
}

.active {
    background-color: #222;
    border: 1px solid #222;
    color: white;
}