.buttonBar {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem 0;
}

.button {
    flex: 1 1 5rem;
    display: inline-block;
    margin-left: -1px;
    margin-top: -1px; /* so strokes don't add up */
}

.active {
    background-color: #222;
    border: 1px solid #222;
    color: white;
}