

.table {
    overflow: scroll;
    margin-top: 0.5rem;
}
.votesCount {
    font-style: italic;
    font-size: 0.8em;
}
.tableHeader {
    display: flex;
    
    font-size: 0.8em;
    align-items: flex-end;
    padding: 0.2rem;
}
.tableHeader .lawmakerVoteCol {
    font-weight: bold;
    /* text-transform: uppercase; */
}

.voteRow {
    display: flex;
    /* margin-bottom: 0.4rem; */
    border-top: 1px solid #eee;
    padding: 0.2rem;

    /* flex-wrap: wrap; */
}

.billCol {
    flex: 0.5 0 2rem;
    margin-right: 0.2rem;
}
.billTitleCol {
    flex: 4 0 6rem;
    margin-right: 0.2rem;
}
.outcomeCol {
    flex: 0.5 0 3.5rem;
    margin-right: 0.2rem;
    
}
.lawmakerVoteCol{
    flex: 0.3 0 3rem;
    margin-right: 0.2rem;
}
.compareVoteCol {
    flex: 0 0 3rem;
    margin-right: 0.2rem;
}

.outcomeCol a {
    color: #000;
}

.rowContainer .billCol {
    font-weight: bold;
}

.rowContainer .outcomeCol {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    max-height: 2rem;
    
}
.rowContainer .billTitleCol {
    font-style: italic;
    font-size: 0.8em;
}



.rowContainer .lawmakerVoteCol,
.rowContainer .compareVoteCol {
    /* font-style: italic; */
    font-size: 0.8em;
    text-transform: capitalize;
    max-height: 2rem;
    border: 1px solid #fff;

    display: flex;
    align-items: center;
    justify-content: center;
}

.rowContainer .lawmakerVoteCol {
    border: 1px solid #222;
    font-weight: bold;
}