.SingleVoteViz {

}

.voteHeader {
    font-size: 1.2rem;
    font-weight: bold;
}
.result {
    font-style: italic;
}

.tableHeader, .tableRows {
    display: flex;
}
.tableHeader {
    font-weight: bold;
}

.tableRows {
    font-size: 0.8rem;
    /* border: 1px solid #eee; */
}
.tableRows a {
    color: #222;
    text-decoration: none;
}
.tableRows a:hover {
    text-decoration: underline;
}

.yesCol, .noCol {
    flex: 0 0 10rem;
    margin: 0 0.2rem;
    padding: 0.2rem;
    
}

.tableRows .yesCol, .tableRows .noCol {
    border: 1px solid #ddd;
    opacity: 0.8;
    
    
}


.tableRows .yesCol {
    background-color: #91cf60;
}
.tableRows .noCol {
    background-color: #fc8d59;
    
}